{% extends 'Perris/base.html' %}
{% load static %}
{% block content %}

  <main>

    <div class="filtros">
      <a href="{% url 'perritos_disponibles' %}">Disponibles</a>
      <a href="{% url 'perritos_adoptados' %}">Adoptados</a>
      <a href="{% url 'perritos_rescatados' %}">Rescatados</a>
    </div>
    <h2>Perritos Disponibles</h2>
    <hr>
    {% for adoptado in PerriDisponibles %}
        <div class="contenedor_galeria">
            <h3>{{ adoptado.nombre }}</h3>
            <p><img class="imagenes" src="/media/{{ adoptado.foto }}"></p>
            <div class="textogaleria">
              <p><b>Raza: </b>{{ adoptado.raza }}</p>
              <p><b>Descripcion: </b>{{ adoptado.descripcion|linebreaksbr }}</p>
              <p><b>Estado: </b>{{ adoptado.estado }}</p>
            </div>
            <a class="btnDetalle" href="{% url 'detalle_perro' pk=adoptado.pk %}">Detalle</a>
        </div>
    {% endfor %}
  </main>

{% endblock %}
